<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.mapper.PigMapper" >
  <resultMap id="BaseResultMap" type="cn.e3mall.pojo.Pig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="heat" property="heat" jdbcType="VARCHAR" />
    <result column="heatrate" property="heatrate" jdbcType="VARCHAR" />
    <result column="location-x" property="locationX" jdbcType="INTEGER" />
    <result column="location-y" property="locationY" jdbcType="INTEGER" />
    <result column="aexercise" property="aexercise" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, age, heat, heatrate, location-x, location-y, aexercise, location
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.e3mall.pojo.PigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.e3mall.pojo.PigExample" >
    delete from pig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.e3mall.pojo.Pig" >
    insert into pig (id, age, heat, 
      heatrate, location-x, location-y, 
      aexercise, location)
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=VARCHAR}, #{heat,jdbcType=VARCHAR}, 
      #{heatrate,jdbcType=VARCHAR}, #{locationX,jdbcType=INTEGER}, #{locationY,jdbcType=INTEGER}, 
      #{aexercise,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.e3mall.pojo.Pig" >
    insert into pig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="heat != null" >
        heat,
      </if>
      <if test="heatrate != null" >
        heatrate,
      </if>
      <if test="locationX != null" >
        location-x,
      </if>
      <if test="locationY != null" >
        location-y,
      </if>
      <if test="aexercise != null" >
        aexercise,
      </if>
      <if test="location != null" >
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="heat != null" >
        #{heat,jdbcType=VARCHAR},
      </if>
      <if test="heatrate != null" >
        #{heatrate,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null" >
        #{locationX,jdbcType=INTEGER},
      </if>
      <if test="locationY != null" >
        #{locationY,jdbcType=INTEGER},
      </if>
      <if test="aexercise != null" >
        #{aexercise,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.e3mall.pojo.PigExample" resultType="java.lang.Integer" >
    select count(*) from pig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pig
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.heat != null" >
        heat = #{record.heat,jdbcType=VARCHAR},
      </if>
      <if test="record.heatrate != null" >
        heatrate = #{record.heatrate,jdbcType=VARCHAR},
      </if>
      <if test="record.locationX != null" >
        location-x = #{record.locationX,jdbcType=INTEGER},
      </if>
      <if test="record.locationY != null" >
        location-y = #{record.locationY,jdbcType=INTEGER},
      </if>
      <if test="record.aexercise != null" >
        aexercise = #{record.aexercise,jdbcType=INTEGER},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pig
    set id = #{record.id,jdbcType=INTEGER},
      age = #{record.age,jdbcType=VARCHAR},
      heat = #{record.heat,jdbcType=VARCHAR},
      heatrate = #{record.heatrate,jdbcType=VARCHAR},
      location-x = #{record.locationX,jdbcType=INTEGER},
      location-y = #{record.locationY,jdbcType=INTEGER},
      aexercise = #{record.aexercise,jdbcType=INTEGER},
      location = #{record.location,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.e3mall.pojo.Pig" >
    update pig
    <set >
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="heat != null" >
        heat = #{heat,jdbcType=VARCHAR},
      </if>
      <if test="heatrate != null" >
        heatrate = #{heatrate,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null" >
        location-x = #{locationX,jdbcType=INTEGER},
      </if>
      <if test="locationY != null" >
        location-y = #{locationY,jdbcType=INTEGER},
      </if>
      <if test="aexercise != null" >
        aexercise = #{aexercise,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.e3mall.pojo.Pig" >
    update pig
    set age = #{age,jdbcType=VARCHAR},
      heat = #{heat,jdbcType=VARCHAR},
      heatrate = #{heatrate,jdbcType=VARCHAR},
      location-x = #{locationX,jdbcType=INTEGER},
      location-y = #{locationY,jdbcType=INTEGER},
      aexercise = #{aexercise,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>